<%= form_for(@ruby_user) do |f| %>
  <% if @ruby_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruby_user.errors.count, "error") %> prohibited this ruby_user from being saved:</h2>

      <ul>
      <% @ruby_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Login %><br />
    <%= f.text_field :Login %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :ForceId %><br />
    <%= f.text_field :ForceId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
